<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="hr">
<head>
	<meta http-equiv="Content-Type" content="text/xhtml;charset=UTF-8"/>
	<meta name="author" content="Fabian Penezić" />
	<title>Kante Zagreb</title>
<style>
	table, th, td {
		border: 1px solid black;
	}
</style>

</head>
<body>
	<h1 id="kante-zagreb">KANTE ZAGREB</h1>
	<p>Otvoreni skup podataka za kante za smeće u Zagrebu.
	Laboratorijske vježbe iz kolegija otvorenog računarstva, Fakulteta elektrotehnike i računarstva Zagreb.
	Više informacija mođete vidjeti
	<a href="https://github.com/NewAgeDaedalus/kante_zagreb/blob/main/README.md">ovdje</a>.
	</p>
	
	<div><a href=./kante_zagreb.json>Preuzmi u json formatu</a></div>
	<div><a href=./kante_zagreb.csv>Preuzmi u csv formatu</a></div>
	<div><a href=./datatable.html>Pregled baze</a></div>
</body>
</html>
